.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

/*
* @Important
* Sizing of map container
*/
/* .leaflet-container {
  height: 300px;
} */


.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(255, 92, 97);
  transform: translate(-20%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
  box-shadow: 0 0 0 7px rgba(255, 92, 97, 0.6), 0 0 0 15px rgba(255, 92, 97, 0.3);
}
