.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

/*
* @Important
* Sizing of map container
*/
/* .leaflet-container {
  height: 300px;
} */


.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #FF5A5F;
  transform: translate(-20%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
}
