.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-img{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    max-width: 4rem;
    max-height: 3.2rem;
    background-color: white;
    border:2px solid rgba(40, 116, 252, 0.6);
}

.item1 { grid-area: grid-img; }
.item2 { grid-area: grid-left; }
.item3 { grid-area: grid-right; }

.grid-element {
    display: grid;
    grid-template-areas:
        'grid-img grid-left grid-left grid-left grid-right grid-right grid-right';
    gap: 10px;
    grid-template-columns: 15% 15% 15%;
    cursor: pointer;
    padding: 5px;
    transition: all .5s ease;
    margin: 6px 0px;
    border-radius: 8px;
    border: 2px solid #eee;
    flex: 5;
}

.grid-attribute {
    font-size: 14px;
    color: rgb(40, 116, 252);
    margin: 3px 8px;
}

.grid-element:hover{
    background-color: rgba(40, 116, 252, 0.2);
    border-radius: 8px;
}

.action-btn {
    width: 60%;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    transition: all .3 ease-in-out;
    cursor: pointer;
}

.apply {
    color: #06a94d;
    border: 1px solid #06a94d;
}

.delete {
    color: #f30611;
    border: 1px solid #f30611;
}

.apply:hover{
    color:white;
    background-color: #06a94d;
}

.delete:hover {
    color: white;
    background-color: #f30611;
}